@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
    @apply font-semibold
  }
  /* ... */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  transition: all 0.6s;
}

.hero-section-div{
  background-image: url("../images/Hero-section-image.jpg");
  background-size: cover;
  background-position: 25% 75%;
 

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
